extends layout

block content
	each station, id in stations
		h3
			a(href=id, title='click to play') #{station.name}
				span  #{station.location}
	#surprise
		each station, id in surprise_stations
			h3
				a(href=id, title='click to play') #{station.name}
					span  #{station.location}
				span.pop(title='click to play in a small pop-up window', data-url='#{id}?pop')
	p.more
		a(data-toggle='fewer stations') more stations